/* GERAL */
body {
  position: relative;
  background-color: #f7f8fd;
}

.input-group .fa {
    text-align: center;
    min-width: 15px;
}

.alert-fixed-bottom {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999;
}

.container-fluid > .listagem,
.container-fluid > .cadastrar {
    min-height: 250px;
}

.bg-blue {
  background-color: #25476a;
}

.requerido {
	font-weight: bold;
	color: #d34a4a;
}


/* TEXTOS */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
}

h1,.h1 { font-size: 1.625rem; }
h2,.h2 { font-size: 1.25rem; }
h3,.h3 { font-size: 1.0625rem; }
h4,.h4 { font-size: .9375rem; }
h5,.h5 { font-size: .8125rem; }
h6,.h6 { font-size: .625rem; }
.text-sm { font-size: .875rem !important; }
.text-muted { color: #8898aa !important; }

label {
    font-size: .8571em;
    margin-bottom: 5px;
    color: #9a9a9a;
}



/* AREA MENU */
#menu-principal {
    z-index: 999;
    width: 125px;
    position: absolute;
    min-height: 100vh;
    padding: 1.5rem 0;
    left: 0; top: 0; bottom: 0;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.navbar-nav .nav-item {
	position: relative;
}

.navbar-nav a {
    color: #7a878e;
    text-align: center;
    font-size: .9rem;
    padding: 1rem 0 !important;
}

.navbar-nav .aberto .nav-link {
	background: #f1f1f1;
}

.navbar-nav a:hover { color: rgba(0, 0, 0, .7); }

.navbar-nav a .fa {
	font-size: 2rem;
	display: block;
}

.navbar-nav .submenu-menu {
	position: absolute;
	transform: none !important;
	border: 0;
	padding: 0;
	background: #f1f1f1;
	border-radius: 0;
	display: none;
	left: 100%;
	top: 0;
	min-width: 160px;
}

.aberto .submenu-menu {
    display: block;
}

.navbar-nav .submenu-item {
	padding: 1rem 1rem !important;
	display: block;
  min-width: 200px;
}



/* AREA CONTEUDO */
.conteudo {
    position: relative;
    padding-left: 145px;
    background-color: #f7f8fd;
}

.conteudo::before {
    content: "";
    height: 350px;
    position: absolute;
    left: 0; top: 0; right: 0;
    background: linear-gradient(-87deg, #25476a, #214f80 100%) !important;
}

.container-fluid {
    padding-right: 39px !important;
    padding-left: 39px !important;
}



/* AREA TOPO */
.topo h1 {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.topo .btn {
    background: transparent;
    color: white;
    padding: 0;
    font-weight: bold;
}

.topo .fa-sign-out {
    padding: 5px 0;
    border: 2px solid white;
    border-radius: 100%;
    width: 30px;
    margin-right: 5px;
}



/* AREA DESTAQUES */
.icone-container {
    width: 3rem;
    height: 3rem;
    padding: 12px;
    text-align: center;
}

.icone-container .fa {
    font-size: 1.35rem;
}



/* CARDS */
.card-header {
    padding: 1.25rem 1.5rem;
    background-color: #fff;
}

.card .table td, .card .table th {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.card .table tbody td, .card .table tbody th {
    padding: 1.5rem;
}

.table thead th {
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
}



/* AGENDAMENTOS */
.agendamento-passou {
    background: #fff7bd;
    opacity: .4;
}

.agendamento-incompleto {
    background: #ffbfbf;
}

.agendamento-realizado {
    background: #c3ffbd;
    opacity: .4;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    display: none;
}



/* SAME */
.accordion .collapse .card {
    border-bottom: 1px solid rgba(0,0,0,.125);
}



@media (max-width: 767px) {
  .conteudo {
  	padding: 0;
  }
  
  #menu-principal {
      display: none;
  }

  .menuAberto #menu-principal {
    display: block;
  }
}
